@model ControlePonto.Models.HorarioModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HorarioModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiadaSemana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiadaSemana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempodeDescanso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempodeDescanso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargaHoraria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargaHoraria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargaHorariaSEmanal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargaHorariaSEmanal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HorarioID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
