@model IEnumerable<ControlePonto.Models.HorarioModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiadaSemana)
            </th>
            <th> 
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempodeDescanso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargaHoraria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargaHorariaSEmanal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiadaSemana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempodeDescanso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargaHoraria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargaHorariaSEmanal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcionario.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HorarioID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HorarioID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HorarioID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
